*{
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
}
.nav-bar {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: #ec6464;
  color: white;
}

.nav-bar>h1, header h2, legend {
  padding: 25px;
  font-size: 20px;
}

form {
  margin: 15px;
  line-height: 2;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2pt #ec6464;
}

.container div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container input, select {
  height: 40px;
  padding: 0px 8px;
}

input, select, textarea {
  outline: none;  
  border: 2px solid white;
  border-radius: 4px;
  background-color: #E8E8E8;
  transition: ease-out 1s;
}

#states>option:first-child {
  color: grey;
}

#states>option:nth-child(n+2){
  background-color: white;
}

.container label {
  padding-bottom: 5px;
}

#zipcode {
  width: 50%;
}

legend {
  font-weight: bold;
  padding-left: 0px;
}

.nav-bar>h1, header h2 {
  text-align: center;
}

header h1, h2 {
  padding-bottom: 15px;
  font-weight: bold;
}

header p {
  padding-bottom: 30px;
  text-align: center;
}

#hr-1 {
  border-top: 4px solid #ec6464;
  margin-bottom: 2px;
}

#hr-2, #hr-3 {
  border-top: 2px solid #ec6464;
  margin-top: 3px;
  margin-bottom: 0px;
}

#hr-3 {
  margin-top: 30px;
}

.newsletter-p {
  padding-left: 3.5px;
}

input [type="number"] {
  width: 20px;
}

input[type="text"]::placeholder, 
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder {
  padding-right: 7px;
  text-align: right;
  font-style: italic;
}

#newsletter-p-1 {
  line-height: 1.5;
  padding-bottom: 10px;
}

#newsletter-p-2, #newsletter-other-p {
  padding-top: 15px;
}

#states{
  color: grey;
}

#states option {
  color: black;
}

textarea {
  width: 100%;
  height: 90px;
  margin-top: 10px;
}

button {
  padding: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: #ec6464;
  cursor: pointer;
}

footer {
  padding-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  form {
    margin-left: 220px;
    margin-right: 220px;
  }
  
  .container input, select{
    flex-basis: 75%;
  } 

  .container label {
    flex-basis: 25%;
  }

  .container div {
    display: flex;
    flex-direction: row;
  }

  #zipcode {
    max-width: 35%;
  }

  header h2, legend {
    padding-top: 50px;
  }

  header h2 {
    font-size: 30px;
  }

  #hr-3 {
    margin-top: 50px;
  }

  textarea {
    height: 120px;
  }

  h5{
    margin-bottom: 100px;
  }
}